@page
@model FlowerShopManagentWebClient.Pages.Manage.AdminPageModel
@{
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <style>
                    /* CSS cho tiêu đề */
                    .display-4 {
                        color: #333; /* Màu chữ xám đậm */
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    /* CSS cho khung chứa  */
                    .container {
                        padding-top: 40px; /* Thêm khoảng cách phía trên */
                    }

                    /* CSS cho các nút bấm */
                    .btn-primary {
                        background-color: #007bff; /* Màu xanh đậm nền */
                        color: white;
                        border: none;
                        padding: 12px 25px;
                        border-radius: 5px;
                        font-size: 16px;
                        margin-bottom: 15px; /* Khoảng cách giữa các nút */
                        transition: background-color 0.3s ease; /* Hiệu ứng khi rê chuột */
                    }

                        .btn-primary:hover {
                            background-color: #0056b3;
                        }
                </style>

                <h1 class="display-4">Choose Options</h1>
            </div>
            <div class="mt-4">
                <form method="get" class="text-center">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" asp-page="/AdminAreea/FlowerBouquet/Index">Manage Flower Bouquet</button>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3" asp-page="/AdminAreea/Order/Index">Manage Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>